* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  width: 1150px;
  height: 75px;
  margin: 0 auto;
}

header .logo-container {
  height: 100%;
  float: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

header .logo-container img {
  height: 100px;
}

.navbar {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #58402c;
}

.navbar li:hover {
  color: #30488F;
  cursor: pointer;
}

.navbar button {
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  color: #58402c;
  border: 1px solid #30488F;
  border-radius: 8px;
  font-weight: bold;
}

.navbar button:hover {
  background-color: #30488F;
  color: white;
  cursor: pointer;
}

